{% load static %}

<section class="news2-area">
  <div class="custom-container">
    <div class="section-header d-flex align-items-center justify-content-between">
      <div class="left">
        <h5 class="section-subtitle">DAILY NEWS</h5>
        <h1 class="section-title">Read more about daily insights</h1>
        <p>In a fast-paced world where information shapes, our daily news service is your informed about the latest developments</p>
      </div>

      <a href="" class="theme-btn">
        Learn More
        <i class="iconoir-arrow-up-right"></i>
      </a>
    </div>

    <div class="news2-lists d-flex">
      <div class="news2-card card-h">
        <img src="{% static 'assets/imgs/blog-1.jpg' %}" alt="Blog">
        <div class="news2-card-body">
          <div class="meta">
            <span class="date">Sep 16, 2022</span>
            <a href="blog-details.html" class="category">#Travel</a>
          </div>
          <h2>
            <a href="blog-details.html">Stock markets opened on a mixed note today, with tech stocks</a>
          </h2>
          <p>Our journey is guided by a clear vision - is to be at the forefront of transformative solutions that shape to the industries and enrich lives. This vision is deeply rooted in our core values: excellence, innovation, integrity, and collaboration.</p>
          <a href="blog-details.html" class="theme-btn">
            <i class="iconoir-arrow-up-right"></i>
          </a>
        </div>
      </div>
      <div class="news2-card card-h">
        <img src="{% static 'assets/imgs/blog-2.jpg' %}" alt="Blog">
        <div class="news2-card-body">
          <div class="meta">
            <span class="date">Sep 16, 2022</span>
            <a href="blog-details.html" class="category">#Gaming</a>
          </div>
          <h2>
            <a href="blog-details.html">Automotive industry is witnessing a shift towards electric vehicles</a>
          </h2>
          <p>Our journey is guided by a clear vision - is to be at the forefront of transformative solutions that shape to the industries and enrich lives. This vision is deeply rooted in our core values: excellence, innovation, integrity, and collaboration.</p>
          <a href="blog-details.html" class="theme-btn">
            <i class="iconoir-arrow-up-right"></i>
          </a>
        </div>
      </div>
      <div class="news2-card card-h">
        <img src="{% static 'assets/imgs/blog-3.jpg' %}" alt="Blog">
        <span class="news-ribbon">New</span>
        <div class="news2-card-body">
          <div class="meta">
            <span class="date">Sep 16, 2022</span>
            <a href="blog-details.html" class="category">#Technology</a>
          </div>
          <h2>
            <a href="blog-details.html">The healthcare sector is adapting to new remote patient monitoring</a>
          </h2>
          <p>Our journey is guided by a clear vision - is to be at the forefront of transformative solutions that shape to the industries and enrich lives. This vision is deeply rooted in our core values: excellence, innovation, integrity, and collaboration.</p>
          <a href="blog-details.html" class="theme-btn">
            <i class="iconoir-arrow-up-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="news2-sticky news2-card d-flex card-h">
      <img src="{% static 'assets/imgs/bg-shape-blog-sticky.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/blog-4.jpg' %}" alt="Blog">
      <div class="news2-card-body">
        <div class="meta">
          <span class="date">Sep 16, 2022</span>
          <a href="" class="category">#Technology</a>
        </div>
        <h2>
          <a href="">Bluebase launches a new X Tap to Pay on smartphone for international and domestic business</a>
        </h2>
        <p>Our journey is guided by a clear vision - is to be at the forefront of transformative solutions that shape to the industries and enrich lives. This vision is deeply rooted in our core values: excellence, innovation, integrity, and collaboration.</p>
        <a href="" class="theme-btn">
          <i class="iconoir-arrow-up-right"></i>
        </a>
      </div>
    </div>

  </div>
</section>