
{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      Synck - New IT Services and Business Consulting Agency
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="startup IT company" />
  <meta name="author"
        content="jeckonia" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
 
      <!-- ========== Start Fonts Style ========== -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
      <link href="{% static 'assets/css2' %}?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&family=Syne:wght@400;500;600&family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!-- This file stores project-specific CSS -->


{% compress css inline %}

   <!-- Latest compiled and minified Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
   <!-- Your stuff: Third-party CSS libraries go here -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />
  <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet" />


      
      <!-- ========== Start Stylesheet ========== -->
      <link rel="stylesheet" href="{% static 'assets/gh/iconoir-icons/iconoirmain/css/iconoir.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
      <!-- ========== End Stylesheet ========== -->
{% endcompress %}


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


<!-- place project specific Javascript in this file -->


{% compress js inline %}
<!-- Bootstrap JS -->
<script defer src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Your stuff: Third-party javascript libraries go here -->
  <script defer src="{% static 'js/project.js' %}"></script>
    <!-- jQuery Frameworks
    ============================================= -->
    <script defer src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>
    <script defer src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script defer src="{% static 'assets/js/Draggable.min.js' %}"></script>
    <script defer src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script defer src="{% static 'assets/js/client-marquee.js' %}"></script>
    <script defer src="{% static 'assets/js/theme-custom.js' %}"></script>
    {% comment %} <script defer src="{% static 'assets/js/form1.js' %}"></script> {% endcomment %}
    <script defer src="{% static 'assets/js/subscribe-form.js' %}"></script>


    <script  type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
{% endcompress %}


{% endblock javascript %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
  <!-- Main -->
  <main class="main-page homepage">

      <!-- Header Bar -->
    <div class="header-bar">
      <div class="custom-container">
          <div class="header-bar-body d-flex align-items-center justify-content-between">
              
              <div class="right">
                  <p>
                      Level up your business with <a href="#about" data-word="SYNCK." id="dataWord">SYNCK.</a>
                  </p>
              </div>
          </div>
      </div>
  </div>

  <!--Header-->

  {% include "(main)/navbar.html" %}

  <!--Messages-->
  {% if messages %}
    <script type="text/javascript">
      {% for message in messages %} 
        toastr.{{ message.tags }}("{{ message }}");
      {% endfor %} 
    </script>
  {% endif %}
  {% comment %} {% endcomment %}

  {% block body %}

  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
  {% endblock inline_javascript %}
   <!-- Footer -->
  {% include "(main)/footer.html" %}

  <script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
              // Disable right-click
      document.addEventListener('contextmenu', (e) => e.preventDefault());

      function ctrlShiftKey(e, keyCode) {
        return e.ctrlKey && e.shiftKey && e.keyCode === keyCode.charCodeAt(0);
      }

      document.onkeydown = (e) => {
        // Disable F12, Ctrl + Shift + I, Ctrl + Shift + J, Ctrl + U
        if (
          event.keyCode === 123 ||
          ctrlShiftKey(e, 'I') ||
          ctrlShiftKey(e, 'J') ||
          ctrlShiftKey(e, 'C') ||
          (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
        )
          return false;
      };
  </script>
  </main>
</body>
</html>
    
    
