{% load static %}

<footer class="footer-area">
  <img src="{% static 'assets/imgs/bg-shape-4.svg' %}" alt="Shape" class="animation-slide-right bg-shape">
  <div class="footer-top">
    <div class="custom-container">
      <div class="custom-row align-items-end justify-content-between">
        <div class="left-content">
          <a href="index.html" class="logo">
            <img src="{% static 'assets/imgs/logo-white.svg' %}" alt="Logo">
          </a>
          <p>We provide the expertise and support to
            <br>
            propel your business forward.</p>
          <form action="" method="POST" class="subscribe-form">
            <div class="subscribe-box d-flex">
              <input type="email" id="email" name="email" placeholder="Enter Your Email">
              <button id="submit2" class="theme-btn">Get Started</button>
            </div>
            <!-- Alert Message -->
            <div class="input-row">
              <div class="input-group alert-notification">
                <div id="alert-message-subscribe" class="alert-msg"></div>
              </div>
            </div>
          </form>
          <div class="footer-clients d-flex align-items-center">
            <div class="footer-client-img">
              <img src="{% static 'assets/imgs/youtube.svg' %}" alt="Youtube">
            </div>
            <div class="footer-client-img">
              <img src="{% static 'assets/imgs/webflow.svg' %}" alt="webflow">
            </div>
            <div class="footer-client-img">
              <img src="{% static 'assets/imgs/upwork.svg' %}" alt="upwork">
            </div>
            <div class="footer-client-img">
              <img src="{% static 'assets/imgs/shopify.svg' %}" alt="shopify">
            </div>
          </div>
        </div>

        <div class="right-content">
          <div class="right-content-inner">
            <h2>Let’s get started on something great</h2>
            <p>Our team of IT experts looks forward to meeting with you
              <br>
              and providing valuable insights tailored to your business.</p>
            <a href="" class="theme-btn">Get an appointment now</a>

            <div class="footer-experience d-flex align-items-center">

              <div class="footer-experience-item">
                <h1>2
                  <span>Mins</span></h1>
                <p>Response Time</p>
              </div>
              <div class="footer-experience-item">
                <h1>99%</h1>
                <p>Client Satisfaction</p>
              </div>
              <div class="footer-experience-item">
                <h1>22+
                  <span>Years</span></h1>
                <p>Field Experience</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="custom-container">
      <div class="custom-row">
        <div class="footer-all-links-wrap justify-content-between d-flex">
          <div class="footer-links">
            <h3>Services</h3>
            <ul>
              <li>
                <a href="">IT Support</a>
              </li>
              <li>
                <a href="">Web Design</a>
              </li>
              <li>
                <a href="">Development</a>
              </li>
              <li>
                <a href="">Cloud Things
                  <span class="new">New</span></a>
              </li>
              <li>
                <a href="">E-Commerce</a>
              </li>
              <li>
                <a href="">CRM Solutions</a>
              </li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Company</h3>
            <ul>
              <li>
                <a href="">Blog</a>
              </li>
              <li>
                <a href="">About Us</a>
              </li>
              <li>
                <a href="">Partners</a>
              </li>
              <li>
                <a href="">Careers</a>
              </li>
              <li>
                <a href="">Events</a>
              </li>
              <li>
                <a href="">Team</a>
              </li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Product</h3>
            <ul>
              <li>
                <a href="">Case Studies
                </a>
              </li>
              <li>
                <a href="">Our Pricing</a>
              </li>
              <li>
                <a href="">Features</a>
              </li>
              <li>
                <a href="">Overview</a>
              </li>
              <li>
                <a href="">New Releases</a>
              </li>
              <li>
                <a href="">Solutions</a>
              </li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Our Fields</h3>
            <ul>
              <li>
                <a href="">Healthcare</a>
              </li>
              <li>
                <a href="">Banks</a>
              </li>
              <li>
                <a href="">Logistics</a>
              </li>
              <li>
                <a href="">Supermarkets</a>
              </li>
              <li>
                <a href="">Industries</a>
              </li>
              <li>
                <a href="">Hotels</a>
              </li>
            </ul>
          </div>
          <div class="footer-links">
            <h3>Legal</h3>
            <ul>
              <li>
                <a href="#">Licenses</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
              <li>
                <a href="#">Cookies</a>
              </li>
              <li>
                <a href="#">Document</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="footer-contact-info">
          <div class="footer-contact-info-item">
            <h4>Phone</h4>
            <p>
              <a href="tel:+1 (689) 256-5817">+1 (689) 256-5817</a>
              <br>
              <a href="tel:+1 (689) 256-58176">+1 (689) 256-5817</a>
            </p>
          </div>
          <div class="footer-contact-info-item">
            <h4>Mail</h4>
            <p>
              <a href="mailto:contact@synck.com">contact@synck.com</a>
              <br>
              <a href="mailto:support@synck.com">support@synck.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="custom-container">
      <div class="custom-row d-flex align-items-center justify-content-between">
        <ul class="social-links d-flex align-items-center">
          <li>
            <a href="#">
              <i class="iconoir-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="iconoir-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="iconoir-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="iconoir-linkedin"></i>
            </a>
          </li>
        </ul>

        <p>&copy;
          <span id="currentYear"></span>
          All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>