{% load static %}


        
        <section class="how-we-do-area">
            <div class="custom-container">
                <div class="custom-row">
                    <img src="{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="animation-slide-left how-we-do-bg">
                    <div class="how-we-do-left-content">
                        <div class="top">
                            <h5 class="section-subtitle">Our Model</h5>
                            <h1 class="section-title">How we do</h1>
                            <p>Save time and money with our powerful method.</p>
                        </div>
                        <a href="how-we-do.html" class="theme-btn">
                            Learn More
                            <i class="iconoir-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="how-we-do-right-content">
                        <div class="how-we-do-items d-flex align-items-center justify-content-center">

                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-1.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>Brainstroming</h4>
                                    <p>Ideas</p>
                                </div>
                            </div>

                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-2.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>Product</h4>
                                    <p>Design</p>
                                </div>
                            </div>

                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-3.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>Front-End</h4>
                                    <p>Development</p>
                                </div>
                            </div>

                        </div>

                        <div class="how-we-do-items d-flex align-items-center justify-content-center">
                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-4.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>SEO</h4>
                                    <p>Optimization</p>
                                </div>
                            </div>

                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-5.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>Back-End</h4>
                                    <p>Development</p>
                                </div>
                            </div>
                        </div>

                        <div class="how-we-do-items d-flex align-items-center justify-content-center">

                            <div class="how-we-do-card">
                                <div class="circle-shape"></div>
                                <div class="line-shape"></div>

                                <div class="how-we-do-icon">
                                    <img src="{% static 'assets/imgs/hwd-icon-6.svg' %}" alt="How we do">
                                </div>
                                <div class="how-we-do-content">
                                    <h4>Digital</h4>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>