{% load static %}

<!-- Pathway Section -->
<section class="about-area">
  <div class="custom-container">
    <div class="custom-row justify-content-between align-items-center">
      <div class="left-content">
        <h5 class="section-subtitle">CONSULTING EXCELLENCE</h5>
        <h1 class="section-title">Best pathway to our clients.</h1>
        <p>Our consulting process begins with a thorough assessment of your current IT infrastructure, workflows, and pain points.</p>
        <ul>
          <li>
            <i class="icon-check las la-check"></i>
            24/7 Full Service Support
          </li>
          <li>
            <i class="icon-check las la-check"></i>
            Immediate Response
          </li>
          <li>
            <i class="icon-check las la-check"></i>
            Easy to Approach us
          </li>
        </ul>
      </div>

      <div class="right-content">
        <div class="about-timeline">

          <div class="about-timeline-item">
            <div class="about-timeline-item-inner">
              <img src="{% static 'assets/imgs/bg-shape-2.svg' %}" alt="Shape" class="line-shape">
              <span class="number">01</span>
              <h3>Discovery and Analysis</h3>
              <p>Perform a analysis of the client's existing IT systems.</p>
            </div>
          </div>
          <div class="about-timeline-item">
            <div class="about-timeline-item-inner">
              <img src="{% static 'assets/imgs/bg-shape-2.svg' %}" alt="Shape" class="line-shape">
              <span class="number">02</span>
              <h3>Tailored Solutions</h3>
              <p>Develop IT solutions based on the analysis phase.</p>
            </div>
          </div>
          <div class="about-timeline-item">
            <div class="about-timeline-item-inner">
              <img src="{% static 'assets/imgs/bg-shape-2.svg' %}" alt="Shape" class="line-shape">
              <span class="number">03</span>
              <h3>Deployment and Support</h3>
              <p>Regularly communicate with our client to any concern.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>