{% load static %}

<section class="case-studio-area">
  <div class="custom-container">

    <div class="case-studio">

      <ul class="nav nav-pills case-studio-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <button class="nav-link active" id="development-tab" data-bs-toggle="tab" href="#development" role="tab" aria-controls="development" aria-selected="true">Development</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="woo_commerce-tab" data-bs-toggle="tab" href="#woo_commerce" role="tab" aria-controls="woo_commerce" aria-selected="false">Woo Commerce</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="crm_solutions-tab" data-bs-toggle="tab" href="#crm_solutions" role="tab" aria-controls="crm_solutions" aria-selected="false">CRM Solutions</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="web_designing-tab" data-bs-toggle="tab" href="#web_designing" role="tab" aria-controls="web_designing" aria-selected="false">Web Designing</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="it_support-tab" data-bs-toggle="tab" href="#it_support" role="tab" aria-controls="it_support" aria-selected="false">IT Support</button>
        </li>
      </ul>
      <div class="tab-content case-studio-tab-content">
        <div class="tab-pane fade show active" id="development" role="tabpanel" aria-labelledby="development-tab">
          <div class="case-studio-body d-flex">
            <div class="left d-flex flex-1">
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Web Development</a>
                <img src="{% static 'assets/imgs/case-studio-1-1.jpg' %}" alt="Case Studio">
              </div>
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Mobile Development</a>
                <img src="{% static 'assets/imgs/case-studio-2-2.jpg' %}" alt="Case Studio">
              </div>
            </div>
            <div class="right">
              <div class="case-studio-contents service-card card-h">
                <img src="{% static 'assets/imgs/service-icon-1.svg' %}" alt="ICON">
                <h3>Development</h3>
                <p>Software development is a dynamic and rapidly evolving field that plays a pivotal role in shaping the digital landscape we live in today. It encompasses the processes, methodologies, and practices used to design, create, deploy, and maintain software applications and systems.</p>
                <a href="#" class="theme-btn">
                  <i class="iconoir-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="woo_commerce" role="tabpanel" aria-labelledby="woo_commerce-tab">
          <div class="case-studio-body d-flex">
            <div class="left d-flex flex-1">
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">electro.</a>
                <img src="{% static 'assets/imgs/case-studio-3.jpg' %}" alt="Case Studio">
              </div>
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Visit Site Now</a>
                <img src="{% static 'assets/imgs/case-studio-4.jpg' %}" alt="Case Studio">
              </div>
            </div>
            <div class="right">
              <div class="case-studio-contents service-card card-h">
                <img src="{% static 'assets/imgs/service-icon-2.svg' %}" alt="ICON">
                <h3>Woo Commerce</h3>
                <p>Software development is a dynamic and rapidly evolving field that plays a pivotal role in shaping the digital landscape we live in today. It encompasses the processes, methodologies, and practices used to design, create, deploy, and maintain software applications and systems.</p>
                <a href="#" class="theme-btn">
                  <i class="iconoir-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="crm_solutions" role="tabpanel" aria-labelledby="crm_solutions-tab">
          <div class="case-studio-body d-flex">
            <div class="left d-flex flex-1">
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">CRM Solutions</a>
                <img src="{% static 'assets/imgs/case-studio-5.jpg' %}" alt="Case Studio">
              </div>
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Mobile Development</a>
                <img src="{% static 'assets/imgs/case-studio-6.jpg' %}" alt="Case Studio">
              </div>
            </div>
            <div class="right">
              <div class="case-studio-contents service-card card-h">
                <img src="{% static 'assets/imgs/service-icon-3.svg' %}" alt="ICON">
                <h3>CRM Solutions</h3>
                <p>Software development is a dynamic and rapidly evolving field that plays a pivotal role in shaping the digital landscape we live in today. It encompasses the processes, methodologies, and practices used to design, create, deploy, and maintain software applications and systems.</p>
                <a href="#" class="theme-btn">
                  <i class="iconoir-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="web_designing" role="tabpanel" aria-labelledby="web_designing-tab">
          <div class="case-studio-body d-flex">
            <div class="left d-flex flex-1">
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Web Designing</a>
                <img src="{% static 'assets/imgs/case-studio-7.jpg' %}" alt="Case Studio">
              </div>
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Mobile Development</a>
                <img src="{% static 'assets/imgs/case-studio-8.jpg' %}" alt="Case Studio">
              </div>
            </div>
            <div class="right">
              <div class="case-studio-contents service-card card-h">
                <img src="{% static 'assets/imgs/service-icon-4.svg' %}" alt="ICON">
                <h3>Web Designing</h3>
                <p>Software development is a dynamic and rapidly evolving field that plays a pivotal role in shaping the digital landscape we live in today. It encompasses the processes, methodologies, and practices used to design, create, deploy, and maintain software applications and systems.</p>
                <a href="#" class="theme-btn">
                  <i class="iconoir-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="it_support" role="tabpanel" aria-labelledby="it_support-tab">
          <div class="case-studio-body d-flex">
            <div class="left d-flex flex-1">
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">IT Support</a>
                <img src="{% static 'assets/imgs/case-studio-9.jpg' %}" alt="Case Studio">
              </div>
              <div class="case-studio-img-card simple-shadow">
                <a href="#" class="case-studio-cat">Mobile Development</a>
                <img src="{% static 'assets/imgs/case-studio-10.jpg' %}" alt="Case Studio">
              </div>
            </div>
            <div class="right">
              <div class="case-studio-contents service-card card-h">
                <img src="{% static 'assets/imgs/service-icon-5.svg' %}" alt="ICON">
                <h3>IT Support</h3>
                <p>Software development is a dynamic and rapidly evolving field that plays a pivotal role in shaping the digital landscape we live in today. It encompasses the processes, methodologies, and practices used to design, create, deploy, and maintain software applications and systems.</p>
                <a href="#" class="theme-btn">
                  <i class="iconoir-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
