{% load static %}

<section class="service-area">
  <div class="custom-container">
    <div class="service-section-header section-header d-flex align-items-end justify-content-between">
      <div class="left">
        <h5 class="section-subtitle">WHAT WE’RE OFFERING</h5>
        <h1 class="section-title">Dealing in all professional
          <br>IT services.</h1>
      </div>
      <p>One fundamental aspect of IT services is infrastructure management. This involves the design, implementation, and maintenance of the hardware, software, networks, and servers.</p>
    </div>

    <div class="services-list d-flex">
      <div class="service-card simple-shadow">
        <img src="{% static 'assets/imgs/service-icon-1.svg' %}" alt="Service Icon" class="service-icon">
        <h3>
          <a href="">Development</a>
        </h3>
        <p>Our development is pixel perfect in all ways.</p>
      </div>
      <div class="service-card simple-shadow">
        <img src="{% static 'assets/imgs/service-icon-2.svg' %}" alt="Service Icon" class="service-icon">
        <h3>
          <a href="">Woo Commerce</a>
        </h3>
        <p>We have a best team for your shopping websites.</p>
      </div>
      <div class="service-card simple-shadow">
        <img src="{% static 'assets/imgs/service-icon-3.svg' %}" alt="Service Icon" class="service-icon">
        <h3>
          <a href="">CRM Solutions</a>
        </h3>
        <p>We enhance customer experiences for success.</p>
      </div>
      <div class="service-card simple-shadow">
        <img src="{% static 'assets/imgs/service-icon-4.svg' %}" alt="Service Icon" class="service-icon">
        <h3>
          <a href="">Web Design</a>
        </h3>
        <p>We create vibrant, intuitive and minimalist web</p>
      </div>
      <div class="service-card simple-shadow">
        <span class="service-badge">Free!</span>
        <img src="{% static 'assets/imgs/service-icon-5.svg' %}" alt="Service Icon" class="service-icon">
        <h3>
          <a href="">IT Support</a>
        </h3>
        <p>We offers expert assistance for your IT issues.</p>
      </div>
    </div>
  </div>
</section>
