{% load static %}

<section class="testimonial-area">

  <div class="testimonial2-lists d-flex gap-24">
    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Platform helped me to increase my sales business</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-2.jpeg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Slack improve my business to futuristic next level!</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-1.jpg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/upwork-2.svg' %}" alt="Testimonial">
      <h1>After consultation my studio branding all over</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-2.jpeg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Slack improve my business to futuristic next level!</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-1.jpg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/upwork-2.svg' %}" alt="Testimonial">
      <h1>After consultation my studio branding all over</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-2.jpeg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>
    <div class="testimonial-item testimonial2-card" style="min-width: 0px;background: transparent;padding: 0;"></div>
  </div>

  <div class="testimonial2-lists-two d-flex gap-24">
    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Platform helped me to increase my sales business</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-2.jpeg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Slack improve my business to futuristic next level!</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-1.jpg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/upwork-2.svg' %}" alt="Testimonial">
      <h1>After consultation my studio branding all over</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-2.jpeg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

    <div class="testimonial-item testimonial2-card">
      <img src="{% static 'assets/imgs/bg-shape-3.svg' %}" alt="Shape" class="bg-shape">
      <img src="{% static 'assets/imgs/webflow-3.svg' %}" alt="Testimonial">
      <h1>Slack improve my business to futuristic next level!</h1>
      <p>One aspect that sets IT Services apart is their proactive approach to security. In today's digital landscape, protecting our sensitive data</p>
      <div class="author-box d-flex align-items-center">
        <img src="{% static 'assets/imgs/testimonial-1.jpg' %}" alt="Testimonial">
        <div class="author-box-content">
          <h4>Serana Belluci</h4>
          <p>Product Designer</p>
        </div>
      </div>
    </div>

  </div>
</section>